<p-table [value]="projects" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.label }}</td>
            <td><button pButton pRipple pTooltip="Open" icon="pi pi-hashtag" (click)="open(project)"
                    class="p-button-rounded"></button>
                &nbsp;
                <button pButton pRipple pTooltip="Remove" icon="pi pi-trash" (click)="delete($event, project)"
                    class="p-button-danger p-button-rounded"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-confirmPopup></p-confirmPopup>